/* Estilos generales del formulario */
.form-encuesta {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilos de las preguntas */
.pregunta {
    margin-bottom: 20px;
}

/* Estilos del texto de la pregunta */
.pregunta-texto {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos del input de texto */
.respuesta-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos del radio button */
.respuesta-input[type="radio"] {
    margin-right: 5px;
}

/* Estilos del select */
.respuesta-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos del botón de enviar */
.btn-enviar {
    padding: 10px 20px;
    background-color: #4CAF50;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilos de la tabla de opciones */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.btn-enviar {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: right;
}

.btn-enviar:hover {
    background-color: #218838;
}

.btn-cerrar-sesion {
    display: block;
    margin: 20px;
    text-decoration: none;

}

.btn-cerrar-sesion .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn-cerrar-sesion .btn:hover {
    background-color: #c82333;
}

h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}
.error-message {
    color: red;
    display: none;
    
}



/* Ocultar el radio button original */
.custom-radio {
    display: none;
}

/* Estilo del contenedor del radio button */
.custom-radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilo de la etiqueta personalizada */
.custom-radio-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

/* Estilo para el estado seleccionado */
.custom-radio:checked + .custom-radio-label {
    background-color: #000;
    border-color: #000;
}

/* Estilo del marcador dentro del checkbox */
.custom-radio-label::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}

/* Estilo para el estado seleccionado */
.custom-radio:checked + .custom-radio-label::after {
    opacity: 1;
}

/* Estilo del texto */
.custom-radio-text {
    font-size: 16px;
}

