.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oswald-secondary {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.botones{

  columns: 2;
  padding-left: 20%;

}
.btn-menu{
  width: 150px; /* Ancho del botón */
  height: 45px; /* Altura del botón */
  padding: 5px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de la fuente */
  text-align: center; /* Alineación del texto */
  border-radius: 5px; /* Bordes redondeados (opcional) */
  background-color: #007bff; /* Color de fondo */
  color: white !important;  /* Color del texto */
  border: none; /* Sin borde (opcional) */
  cursor: pointer; /* Cursor de mano al pasar sobre el botón */
  display: inline-block; /* Para permitir el ancho y alto */
  margin: 10px; /* Espaciado externo (opcional) */
}