/*Universal*/
.bg{
    background-image: url("../img/rectoria.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.contenedor{
    margin: 0 auto;
    margin-top: 100px;
    width: 55%;
    border: 2px solid;
    border-radius: 1px;
}
.form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    &:focus{
        border-color: #ced4da; /* Mismo color de borde que el estado normal */
            box-shadow: none; /* Eliminar sombra */
    }
}
.form{
    padding: 7%;
    padding-top: 3%;
}
.form-text{
    font-size:x-small;
}

