.contenedor{
    margin: 0 auto;
    margin-top: 100px;
    width: 45%;
    border: 1px solid;
    border-radius: 2px solid;
    padding: 15px;
}
table{
    width: 100%;
    border: 1px solid;
}
th{
    text-align: center;
}
.centrar{
    text-align: center;
}
td{
    border: 1px solid;
}




/*Responsive*/
@media screen and (max-width:1300px) {
    /*Universal*/
    .contenedor{
        width: 80%;
        text-align: justify;
        margin-top: 10%;
    }
    }
